

/* body*/

body {
    background-color: #e9eaeb;
}


.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
}

.col-sm-1 sidenav {
  background-color: #B5B5B5;
}


.item{
	padding: 0px;

}

.parrafo {
    font-family: "Times New Roman", Times, serif;
    font-size: 20%;
}


.h1 {
	font-family: "Oswald";
    color: #029E5A;	
    text-align: center;
    font-size: 300%;
}


/* tablas */

table {
    
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #029E5A;
    color: white;
}


label{
  color: #767677; 

}


/*botones*/

button {
    width: 100%;
    background-color: #029E5A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}